@font-face{
	font-family:"Calluna-Regular";
	src:url("font/Calluna-Regular.eot?") format("eot"),
		url("font/Calluna-Regular.woff") format("woff"),
		url("font/Calluna-Regular.ttf") format("truetype"),
		url("font/Calluna-Regular.svg#Calluna-Regular") format("svg");
	font-weight:normal;
	font-style:normal;
}

.internal_gray{
	font-family:Calluna-Regular;
	color:#6c6c6c;
}
.internal_black{
	font-family:Calluna-Regular;
	color:#231f20;
	line-height: 1.3em;
}
.internal_bold_black{
	font-family:Calluna-Regular;
	font-weight:800;
	color:#231f20;
}
.internal_big_blue{
	font-family:"ff-meta-web-pro";
	font-weight:bold;
	color:#0066a4;
}
.services_bold{
	font-family:"ff-meta-web-pro";
	font-weight:bold;
	color:#404040;
}